[submodule "tomdoc.sh"]
	path = tomdoc.sh
	url = https://github.com/tests-always-included/tomdoc.sh.git
	branch = master
[submodule "github-markdown-toc"]
	path = github-markdown-toc
	url = https://github.com/ekalinin/github-markdown-toc

